body {	background-color: #fff8f8; }
hr	{
	background-color: #ff3333;
	color: #ff3333;
}
h1 {
	color: #ff3333;
}
.txtHighlight {
	color: #296D9D;
}
.titleTable {
	border-color: #ff3333;
	background-color: #ffd0d0;
}
.navOff {
	color: #333333;
	border-color: #ff3333;
}
.navOn {
	color: #666666;
	border-color: #ff3333;
	background-color: #ffff00;
}
.navSelected {
	color: #FFFFFF;
	border-color: #ff3333;
	background-color: #ff3333;
}
.navOff_box {
	color: #333333;
	border-color: #ff3333;
}
.navOn_box {
	color: #666666;
	border-color: #ff3333;
	background-color: #ffff00;
}
.navSelected_box {
	color: #FFFFFF;
	border-color: #ff3333;
	background-color: #ff3333;
}
.tabOff {
	color: #666666;
	border-color: #ff3333;
}
.tabOn {
	color: #666666;
	border-color: #ff3333;
	background-color: #ffff00;
}
.tabSelected {
	color: #FFFFFF;
	border-color: #ff3333;
	background-color: #ff3333;
}
.tableForm {
	border-color: #FF3333;
}
.rowForm {
	color: #000000;
	background-color: #FFF1F1;
}
.formFixed {
	color: #333333;
	border-color: #FF3333;
	background-color: #F5F5FF;
}
.formField {
	color: #333333;
	border-color: #FF3333;
	background-color: #ffffff;
}

