body {	background-color: #f8f8ff; }
hr	{
	background-color: #3333ff;
	color: #3333ff;
}
h1 {
	color: #3333ff;
}
.txtHighlight {
	color: #296D9D;
}
.titleTable {
	border-color: #3333ff;
	background-color: #d0d0ff;
}
.navOff {
	color: #333333;
	border-color: #3333ff;
}
.navOn {
	color: #666666;
	border-color: #3333ff;
	background-color: #ffff00;
}
.navSelected {
	color: #FFFFFF;
	border-color: #3333ff;
	background-color: #3333ff;
}
.navOff_box {
	color: #333333;
	border-color: #3333ff;
}
.navOn_box {
	color: #666666;
	border-color: #3333ff;
	background-color: #ffff00;
}
.navSelected_box {
	color: #FFFFFF;
	border-color: #3333ff;
	background-color: #3333ff;
}
.tabOff {
	color: #666666;
	border-color: #3333ff;
}
.tabOn {
	color: #666666;
	border-color: #3333ff;
	background-color: #ffff00;
}
.tabSelected {
	color: #FFFFFF;
	border-color: #3333ff;
	background-color: #3333ff;
}
.tableForm {
	border-color: #3333FF;
}
.rowForm {
	color: #000000;
	background-color: #F1F1FF;
}
.formFixed {
	color: #333333;
	border-color: #3333FF;
	background-color: #ffffff;
}
.formField {
	color: #333333;
	border-color: #3333FF;
	background-color: #ffffff;
}

