body {	background-color: #fAfffA;
}
hr	{
	background-color: #33a033;
	color: #33a033;
}
h1 {
	color: #33a033;
}
.txtHighlight {
	color: #296D9D;
}
.titleTable {
	border-color: #33a033;
	background-color: #d0ffd0;
}
.navOff {
	color: #333333;
	border-color: #33a033;
}
.navOn {
	color: #666666;
	border-color: #33a033;
	background-color: #ffff00;
}
.navSelected {
	color: #FFFFFF;
	border-color: #33a033;
	background-color: #33a033;
}
.navOff_box {
	color: #333333;
	border-color: #33a033;
}
.navOn_box {
	color: #666666;
	border-color: #33a033;
	background-color: #ffff00;
}
.navSelected_box {
	color: #FFFFFF;
	border-color: #33a033;
	background-color: #33a033;
}
.tabOff {
	color: #666666;
	border-color: #33a033;
}
.tabOn {
	color: #666666;
	border-color: #33a033;
	background-color: #ffff00;
}
.tabSelected {
	color: #FFFFFF;
	border-color: #33a033;
	background-color: #33a033;
}
.tableForm {
	border-color: #008000;
}
.rowForm {
	color: #000000;
	background-color: #F1FFF1;
}
.formFixed {
	color: #333333;
	border-color: #008000;
	background-color: #F5F5FF;
}
.formField {
	color: #333333;
	border-color: #008000;
	background-color: #ffffff;
}

